* {
    box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.Login-Screen {
    background-image: url('/img/film-background.jpeg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
  }

  .login-title {
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
  }
  